Redirect 301 /productGrid.php /index.php?id=2
Redirect 301 /blog/ /index.php?id=30
Redirect 301 /contact.php /index.php?id=4
Redirect 301 /about-us/ /index.php?id=9
Redirect 301 /debbie-morgan/ /index.php?id=10
Redirect 301 /0-carbon-footprint/ /index.php?id=15
Redirect 301 /product_acai.php /index.php?id=21
Redirect 301 /product_detox.php /index.php?id=22
Redirect 301 /product_femestra.php /index.php?id=28
Redirect 301 /product_greenTea.php /index.php?id=23
Redirect 301 /product_hairSkinNails.php /index.php?id=24
Redirect 301 /product_postnatal.php /index.php?id=25
Redirect 301 /product_prenatal.php /index.php?id=26
Redirect 301 /product_resveratrol.php /index.php?id=22
Redirect 301 /return-policy/ /index.php?id=18
Redirect 301 /privacy-policy/ /index.php?id=19
Redirect 301 /shipping-options/ /index.php?id=20
Redirect 301 /add-a-little-color-to-your-diet/ /index.php?id=98
Redirect 301 /replace-white-sugar-with-natural-sugars/ /index.php?id=97
Redirect 301 /lose-the-baby-weight-2/ /index.php?id=96
Redirect 301 /menopause-and-sleep/ /index.php?id=79
Redirect 301 /are-acrylic-nails-safe/ /index.php?id=80
Redirect 301 /throwing-out-my-scale-healthy-weight-loss/ /index.php?id=78
Redirect 301 /say-no-and-minimize-stress/ /index.php?id=94
Redirect 301 /do-you-need-a-pap-test-after-menopause/ /index.php?id=95
Redirect 301 /what-your-tongue-says-about-your-health/ /index.php?id=93
Redirect 301 /save-those-pumpkin-seeds/ /index.php?id=92
Redirect 301 /seasonal-depression-get-back-your-inner-light/ /index.php?id=91
Redirect 301 /exercise-diet-and-supplements-oh-yeah/ /index.php?id=87
Redirect 301 /instant-self-confidence/ /index.php?id=90
Redirect 301 /hormone-replacement-therapy-what-every-woman-should-know/ /index.php?id=77
Redirect 301 /pregnancy-and-weight-gain/ /index.php?id=89
Redirect 301 /give-me-my-daily-dose-of-endorphins/ /index.php?id=88
Redirect 301 /how-eight-glasses-of-water-a-day-keeps-fat-away/ /index.php?id=86
Redirect 301 /green-tea-for-natural-weight-loss-and-energy/ /index.php?id=85
Redirect 301 /lose-the-baby-weight/ /index.php?id=84
Redirect 301 /today-is-national-zucchini-day/ /index.php?id=83
Redirect 301 /have-you-ever-laughed-so-hard-you-peed-in-your-pants/ /index.php?id=82
Redirect 301 /love-your-hair/ /index.php?id=81
Redirect 301 /help-for-arthritis-pain-get-moving/ /index.php?id=73
Redirect 301 /the-key-to-looking-young-are-antioxidants/ /index.php?id=72
Redirect 301 /sex-can-get-better-with-age/ /index.php?id=65
Redirect 301 /five-myths-about-osteoporosis/ /index.php?id=69
Redirect 301 /cheers-to-post-pregnancy-weight-loss/ /index.php?id=63
Redirect 301 /507/ /index.php?id=71
Redirect 301 /am-i-going-through-menopause/ /index.php?id=59
Redirect 301 /antioxidants-hiding-in-your-spice-rack/ /index.php?id=68
Redirect 301 /its-not-what-you-eat-its-when-you-eat-it-that-matters/ /index.php?id=61
Redirect 301 /good-health-means-a-good-life/ /index.php?id=62
Redirect 301 /the-skinny-on-antioxidants/ /index.php?id=60
Redirect 301 /how-to-lose-weight-after-menopause/ /index.php?id=58