[[$head]]

<body>

[[$header]]

<div class="special_grid_content">
    
    <div class="special_product_grid">
    
    	<div class="container">
    
            <div class="row">
            
[[getResources? &tpl=`special-product-grid` &limit=`0` &includeTVs=`1` &sortby=`menuindex` &sortdir=`ASC`]]
            
            </div><!-- .row -->
            
        </div><!-- .container -->
    
    </div><!-- .special_product_grid -->

	<div class="wrapper">
    
    	<div class="row-fluid">
			
			<div class="span12 nurture_nourish_evolve">
				
[[$footer_nourish_evolve]]
				
			</div><!-- .span12 -->
			
		</div>
    
    </div><!-- .wrapper -->
	
</div><!-- .special_page_content -->

[[$footer]]

[[$footer_js]]

</body>

</html>